<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>org.fmz.control.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>org.fmz.control.AddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowAllServlet</servlet-name>
		<servlet-class>org.fmz.control.ShowAllServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PreServlet</servlet-name>
		<servlet-class>org.fmz.control.PreServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchByIdServlet</servlet-name>
		<servlet-class>org.fmz.control.SearchByIdServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>org.fmz.control.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>org.fmz.control.UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddGradeServlet</servlet-name>
		<servlet-class>org.fmz.control.AddGradeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowAllStudentsGradeServlet</servlet-name>
		<servlet-class>org.fmz.control.ShowAllStudentsGradeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteGradeServlet</servlet-name>
		<servlet-class>org.fmz.control.DeleteGradeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentGradeUpdateServlet</servlet-name>
		<servlet-class>org.fmz.control.StudentGradeUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GradeSearchByIdServlet</servlet-name>
		<servlet-class>org.fmz.control.GradeSearchByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GradeSearchByIdServlet</servlet-name>
		<url-pattern>/gradesearchById</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentGradeUpdateServlet</servlet-name>
		<url-pattern>/sgupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteGradeServlet</servlet-name>
		<url-pattern>/sgdelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowAllStudentsGradeServlet</servlet-name>
		<url-pattern>/showAllStudentsGrade</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddGradeServlet</servlet-name>
		<url-pattern>/gradeAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddGradeServlet</servlet-name>
		<url-pattern>/stupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/stdelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchByIdServlet</servlet-name>
		<url-pattern>/searchById</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PreServlet</servlet-name>
		<url-pattern>/pre</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowAllServlet</servlet-name>
		<url-pattern>/showAllStudents</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/stadd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>org.fmz.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
